In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# # Load Dataset
Load the dataset of Investor Owned Utilities. Obtained from wikipedia

In [243]:
data=pd.read_csv('/Users/oladipoositelu/Desktop/IOUs.csv')

In [244]:
data.head()

,Parent Company,Operating Company,Operating States,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,AES Corporation,Dayton Power and Light,OH,NaN,NaN,NaN,NaN,NaN,NaN
1,AES Corporation,Indianapolis Power & Light,IN,NaN,NaN,NaN,NaN,NaN,NaN
2,Allete,Minnesota Power,MN,NaN,NaN,NaN,NaN,NaN,NaN
3,Allete,"Superior Water, Light and Power",WI,NaN,NaN,NaN,NaN,NaN,NaN
4,Alliant Energy,Interstate Power and Light,"IA, MN",NaN,NaN,NaN,NaN,NaN,NaN

There are a bunch of columns that are completely empty. Hence, I select the important columns

In [245]:
important=['Parent Company','Operating Company','Operating States']

In [246]:
df=data[important]

I would like to know the number of unique parent companies in the dataset

In [247]:
len(np.sort(df['Parent Company'].unique()))

62

I want to create a variable for the stock ticker of the parent companies

In [248]:
df.loc[:,'ticker']=""

In [249]:
ticker=[]
for i in range(len(df)):
    if df['Parent Company'].str.contains('AES')[i]==True:
        ticker.append('AES')
    elif df['Parent Company'].str.contains('FirstEnergy')[i]==True:
        ticker.append('FE')
    elif df['Parent Company'].str.contains('American Elect')[i]==True:
        ticker.append('AEP')
    elif df['Parent Company'].str.contains('Dominion')[i]==True:
        ticker.append('D')
    elif df['Parent Company'].str.contains('Allete')[i]==True:
        ticker.append('ALE')
    elif df['Parent Company'].str.contains('PPL')[i]==True:
        ticker.append('PPL')
    elif df['Parent Company'].str.contains('Duke')[i]==True:
        ticker.append('DUK')
    elif df['Parent Company'].str.contains('Xcel')[i]==True:
        ticker.append('XEL')
    elif df['Parent Company'].str.contains('Alliant')[i]==True:
        ticker.append('LNT')
    elif df['Parent Company'].str.contains('Exelon')[i]==True:
        ticker.append('EXC')
    elif df['Parent Company'].str.contains('Entergy')[i]==True:
        ticker.append('ETR')
    elif df['Parent Company'].str.contains('Hawaii')[i]==True:
        ticker.append('HE')
    elif df['Parent Company'].str.contains('Consolidated Edison')[i]==True:
        ticker.append('ED')
    elif df['Parent Company'].str.contains('Southern Company')[i]==True:
        ticker.append('SO')
    elif df['Parent Company'].str.contains('Ameren')[i]==True:
        ticker.append('AEE')
    elif df['Parent Company'].str.contains('Unitil')[i]==True:
        ticker.append('UTL')
    elif df['Parent Company'].str.contains('Pepco')[i]==True:
        ticker.append('POM')
    elif df['Parent Company'].str.contains('Black Hills')[i]==True:
        ticker.append('BKH')
    elif df['Parent Company'].str.contains('Avista')[i]==True:
        ticker.append('AVA')
    elif df['Parent Company'].str.contains('ITC Holdings')[i]==True:
        ticker.append('ITC')
    elif df['Parent Company'].str.contains('National Grid')[i]==True:
        ticker.append('NGG')
    elif df['Parent Company'].str.contains('CenterPoint')[i]==True:
        ticker.append('CNP')
    elif df['Parent Company'].str.contains('UniSource')[i]==True:
        ticker.append('UNS')
    elif df['Parent Company'].str.contains('CLECO')[i]==True:
        ticker.append('CNL')
    elif df['Parent Company'].str.contains('PNM')[i]==True:
        ticker.append('PNM')
    elif df['Parent Company'].str.contains('Westar')[i]==True:
        ticker.append('WR')
    elif df['Parent Company'].str.contains('El Paso')[i]==True:
        ticker.append('EE')
    elif df['Parent Company'].str.contains('CMS Energy')[i]==True:
        ticker.append('CMS')
    elif df['Parent Company'].str.contains('Wisconsin Energy')[i]==True:
        ticker.append('WEC')
    elif df['Parent Company'].str.contains('Great Plains')[i]==True:
        ticker.append('GXP')
    elif df['Parent Company'].str.contains('MDU')[i]==True:
        ticker.append('MDU')
    elif df['Parent Company'].str.contains('DTE')[i]==True:
        ticker.append('DTE')
    elif df['Parent Company'].str.contains('Edison International')[i]==True:
        ticker.append('EIX')
    elif df['Parent Company'].str.contains('Vectren')[i]==True:
        ticker.append('VVC')
    elif df['Parent Company'].str.contains('UIL Holdings')[i]==True:
        ticker.append('UIL')
    elif df['Parent Company'].str.contains('Sempra')[i]==True:
        ticker.append('SRE')
    elif df['Parent Company'].str.contains('Integrys')[i]==True:
        ticker.append('TEG')
    elif df['Parent Company'].str.contains('NextEra')[i]==True:
        ticker.append('NEE')
    elif df['Parent Company'].str.contains('MGE')[i]==True:
        ticker.append('MGE')
    elif df['Parent Company'].str.contains('OGE')[i]==True:
        ticker.append('OGE')
    elif df['Parent Company'].str.contains('NiSource')[i]==True:
        ticker.append('NI')
    elif df['Parent Company'].str.contains('NSTAR')[i]==True:
        ticker.append('NST')
    elif df['Parent Company'].str.contains('TECO')[i]==True:
        ticker.append('TE')
    elif df['Parent Company'].str.contains('PG&E')[i]==True:
        ticker.append('PCG')
    elif df['Parent Company'].str.contains('NorthWestern Corp')[i]==True:
        ticker.append('NWE')
    elif df['Parent Company'].str.contains('NRG')[i]==True:
        ticker.append('NRG')
    elif df['Parent Company'].str.contains('Otter Tail')[i]==True:
        ticker.append('OTTR')
    elif df['Parent Company'].str.contains('Public Service Enterprise')[i]==True:
        ticker.append('PEG')
    elif df['Parent Company'].str.contains('Puget')[i]==True:
        ticker.append('PSD')
    elif df['Parent Company'].str.contains('SCANA')[i]==True:
        ticker.append('SCG')
    elif df['Parent Company'].str.contains('UGI Corp')[i]==True:
        ticker.append('UGI')
    elif df['Parent Company'].str.contains('Portland Gen')[i]==True:
        ticker.append('POR')
    elif df['Parent Company'].str.contains('Pinnacle West')[i]==True:
        ticker.append('PNW')
    elif df['Parent Company'].str.contains('Northeast Utilities')[i]==True:
        ticker.append('NU')
    elif df['Parent Company'].str.contains('DQE')[i]==True:
        ticker.append('DQE')
    else:
        ticker.append('')
df.loc[:,'ticker']=ticker

What is the number of companies that don't have tickers associated with them?

In [250]:
len(df[df.ticker==""]['Parent Company'].unique())

7

Take a deeper look

In [251]:
df[df.ticker==""]

,Parent Company,Operating Company,Operating States,ticker
15,American Transmission Company,American Transmission Company,"WI, MI",
17,Berkshire Hathaway Energy,MidAmerican Energy Company,"IL, SD, NE",
18,Berkshire Hathaway Energy,NV Energy,"NV, CA",
19,Berkshire Hathaway Energy,Pacificorp--Pacific Power,"OR, CA, WA",
20,Berkshire Hathaway Energy,Pacificorp--Rocky Mountain Power,"UT, WY, ID",
40,Emera,Bangor Hydro Electric,ME,
41,Emera,Maine Public Service,ME,
42,Energy Future Holdings,Oncor Electric Delivery,TX,
63,Fortis Inc.,Central Hudson Gas & Electric,NY,
64,Gaz Metro,Central Vermont Public Service,VT,
65,Gaz Metro,Green Mountain Power,VT,
70,Iberdrola,Central Maine Power,ME,
71,Iberdrola,New York State Electric & Gas,NY,
72,Iberdrola,Rochester Gas & Electric,NY,

These are all privately held companies with the exception of berkshire Hathaway Energy. Because this is a very large company that holds assets in different industry, I decided against including them

### Final dataset

Remove data that does not include a ticker

In [252]:
df=df[df.ticker !=""]

Show the parent companies with the highest number of operating companies

In [253]:
df.ticker.value_counts().head(10)

FE     11
NGG     7
AEP     7
DUK     6
ETR     6
ITC     4
SO      4
HE      3
XEL     3
EXC     3
Name: ticker, dtype: int64

### Save as csv

In [240]:
df.to_csv('/Users/oladipoositelu/Desktop/data_IOUs.csv')